<% include ../partials/header.ejs%>

<div class="presentation_bg">
    <div class="presentation_header centro">
        Welcome to musicApp
        <div class="lead font-weight-normal">
            know more about the best music in the world
            <div>
                <a href="#home" class="btn btn-dark">let's get started</a>
            </div>
        </div>
    </div>
    <ul class="presentation_bg">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
<div class="container" id="home">
  <%results.forEach(function(albums){%>
    <div class="card border-info">  
      <a href="/albums/<%=albums["id"]["attributes"]["im:id"]%>">
        <div class="row">
          <div class="col-sm-2">
            <img class=" centro rounded float-left" src="<%=albums["im:image"]["0"]["label"]%>">
          </div>
          <div class="col-sm-3">
            <div class="centro"><%=albums["im:artist"]["label"]%></div>
          </div>    
          <div class="col-sm-3">
            <%if(albums["im:name"]["label"].length > 16){%>
              <div class="centro"><%=albums["im:name"]["label"].substring(0,16)%>...</div>
            <%} else{%>
              <div class="centro"><%=albums["im:name"]["label"]%></div>
            <%}%>
          </div>
          <div class="col-sm-3">
            <div class="centro"><%=albums["im:releaseDate"]["label"].substring(0,10)%></div>
          </div>
          <div class="col-sm-1">
            <div class="centro"><%=albums["im:price"]["label"]%></div>
          </div>   
        </div>
      </a> 
    </div>  
    <br>
  <%})%>
</div>

<% include ../partials/footer.ejs%>