<% include ../partials/header.ejs%>

<div class="presentation_bg">
    <div class="presentation_header">
        Welcome to musicApp
        <div class="lead font-weight-normal">
            know more about the best music in the world
            <div>
                <a class="btn btn-outline-secondary">let's get started</a>
            </div>
        </div>
    </div>
    
</div>
<div class="container">
    
        <%results.forEach(function(albums){%>
        <a href="/albums/<%=albums["id"]["attributes"]["im:id"]%>">
            <div class="row bg-light">
        <div class="col-sm-2">
            <li>
                itunes icon
            </li>
        </div>
        <div class="col-sm-2">
            <li>
                albun icon
            </li>
        </div>
        <div class="col-sm-2">
            <li>
                <%=albums["im:artist"]["label"]%>
            </li>
        </div>    
        <div class="col-sm-2">    
            <li>
                <%=albums["im:name"]["label"]%>
            </li>
        </div>
        <div class="col-sm-2">
            <li>
                <%=albums["im:releaseDate"]["label"]%>
            </li>
        </div>
        <div class="col-sm-2">
            <li>
                <%=albums["im:price"]["label"]%>
            </li>
        </div>   
        
        </div>
        </a> 
        <br>
        <%})%>
</div>



<% include ../partials/footer.ejs%>